/*COMIENZO DELIVERY*/
.mainDelivery {
	background-image: url(../img/ciudad.jpg);
	background-size: cover;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	display: grid;
	grid-template-areas: 
	"nav form"
	"nav form";
}

.navDelivery {
	list-style: none;
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding-top: 20%;
	padding-bottom: 20%;
	grid-area: nav;
}

.boton {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: $color_1;
	font-family: $font-family_1;
	text-align: right;
	padding: 6%;

}


.form {
	display: inline;
	align-items: flex-end;
	justify-content: flex-end;
	grid-area: form;
}

/*FIN DELIVERY*/