/*COMIENZO FOOTER*/
.footer {
	grid-area: footer;
	background-color: $background-color_1;
	height: 80px;
	text-align: center;
	align-items: center;
	padding-top: 16px;
	font-size: 1rem;
	color: black;
}
.footer p{
	color:#FFC00F ;
}
    /*FIN FOOTER*/