/*COMIENZO MENÚ*/

.contenedorMenu{
	min-height: 100vh;
	background-image: url(../img/tabla\ madera.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-areas: 
	"carousel carousel carousel" 
	"carousel carousel carousel" 
	"carousel carousel carousel" 
	"hashtag hashtag hashtag";
}

.carousel {
	grid-area: carousel;
}

.carousel-item{
	width: 100vw;
	height: 100vh;
}

.Hashtag {
	grid-area: hashtag;

	font-family: $font-family_1;
	font-size: 5rem;
	font-style: normal;
	text-align: end;
	color: $color_1;
	grid-row: span2;
	
}


/*FIN MENÚ*/