/* COMIENZO UBICACION*/
.contenedorUb{
	background-image: url(../img/ciudad.jpg);
}

.mainUb {
	display: inline
}

.maps {
	display: flex;
	justify-content: flex-end;
	align-items: end;
	padding: 30px 30px;

}

.datos {
	display: inline-block;
	position: absolute;
	margin-top: 5rem;
	margin-left: 3rem;
	font-family: $font-family_1;
	font-size: 24px;
	font-style: unset;
	color: $color_1;

}