/* COMIENZO UBICACION*/
.mainUb{
	background-image: url(../img/ciudad.jpg);
	display: grid;
    grid-template-areas: 
	"datos mapa mapa"
	"datos mapa mapa"
	"formulario mapa mapa"
	"formulario mapa mapa";
}

.maps {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 30px;
	grid-area: mapa;
}
.datos {
	display: inline-block;
	position: absolute;
	bottom: 60px;
	left: 30px;
	font-family: $font-family_1;
	font-size: 24px;
	font-style: unset;
	color: $color_1;
	grid-area: datos;
}
.form {
	display: inline-block;
	position: absolute;
	bottom: 30px;
	right: 60px;
	grid-area: formulario;
}
